.navbar-nav{
    text-decoration: none;
    font-weight: 500;
    margin-left: auto;
}
.nav-item:hover{
    font-size: large;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: white;
}
nav{
    background-color: black;
}