.top-container { 
    background-color: rgb(187, 238, 238);
    border: solid 5px;
    border-color: rgb(212, 180, 119);
    margin-bottom: 1%;
    position: relative;
    padding-top: 100px;
}
.middle-container{
}
.bottom-container{

}
h1{
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 5.625rem;
    color: #66BFBF;
}
h2{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
   color: #66BFBF;

}
h3{
    font-family: "Montserrat", sans-serif;
    color: #11999E;
}
a{

    color: #11999E;
}
body{
    margin: 0 0 0;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    
}
.middle{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
}
#pro{
    text-decoration: underline;
}
.bottom{
    background-color: rgb(28, 201, 143);
    height: 200px;
    width: 200px;
}
.btmCloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
    
}
.topCloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
#profilep{
    border-radius: 50%;
    width: 11%;
}
.skills-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}

