.top-container { 
    background-color: rgb(187, 238, 238);
    border: solid 5px;
    border-color: rgb(212, 180, 119);
    margin-bottom: 1%;
    position: relative;
    padding-top: 100px;
    border-bottom: none;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
background-color: skyblue;
}
.profile{
    text-align: center;
}
h1{
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
   color: #66BFBF;
   font-weight: 500;

}
h3{
    font-family: "Montserrat", sans-serif;
    color: #11999E;
    font-weight: 500;
}
.intro{
    margin: 0 auto 0 auto;
    width: 40%;
}
hr{
    color: #eaf6f6;
    border-style: dotted none none none;
    border-width: 15px;
    width: 7%;
    margin: 100px auto 100px auto;
}
a{

    color: #11999E;
}
p{
    line-height: 2;
}
body{
    margin: 0 0 0;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    color: #40514E;
    
}
.middle{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
}
#pro{
    text-decoration: underline;
}
.bottom{
    background-color: rgb(28, 201, 143);
    height: 200px;
    width: 200px;
}
.contact-message{
    width: 40%;
    margin: 40px auto 40px auto;
}
.btmCloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
    
}
.topCloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
#profilep{
    border-radius: 50%;
    width: 10%;
}
.skills-img{
    margin-left: auto;
    margin-right: 30px;
    width: 25%;
    float: left;
    
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

