#profile {

    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
}

.worktb {
    border: 1px solid black;
  }
  hr {
    color: orange;
    border-top: dotted 1px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-width: 10px;
    width: 7%;
  }
  body{
    background-color: mediumspringgreen;
  

  }